# Store the above data in a csv

1. Read the text file (csv) 
2. create the case Class to Represent the entity
3. add all the records in to List
4. Perform filter operations based on salary and departments
5. perform map operations to produce formatted report
6. perform reduce operation to find total Salary, average Salary, number of employees department wise

In [16]:
// reading the csv file 

import scala.io.Source
import java.io.{FileNotFoundException, IOException}

def readingCSV(filePath: String): List[String] = {
  val file = Source.fromFile(filename)
  try {
    file.getLines().toList
  } catch {
    case e: FileNotFoundException =>
      println("File not found")
      List.empty[String]

    case e: IOException =>
      println("IO Exception")
      List.empty[String]

  } finally {
    file.close()
  }
}

val filename = "salary_data.csv"
val employeeList: List[String] = readingCSV(filePath = filename)

import scala.io.Source
import java.io.{FileNotFoundException, IOException}
defined function readingCSV
filename: String = "salary_data.csv"
employeeList: List[String] = List(
  "sno,name,city,salary,department",
  "1,John Doe,New York,60000,Marketing",
  "2,Jane Smith,Los Angeles,55000,Finance",
  "3,Michael Johnson,Chicago,62000,HR",
  "4,Sarah Lee,San Francisco,58000,Engineering",
  "5,David Brown,Houston,63000,Operations",
  "6,Emily Taylor,Miami,54000,Sales",
  "7,James Wilson,Dallas,59000,Marketing",
  "8,Emma Anderson,Seattle,61000,Finance",
  "9,Matthew Martinez,Boston,57000,HR",
  "10,Olivia Thomas,Atlanta,64000,Engineering",
  "11,Liam Garcia,Denver,53000,Operations",
  "12,Sophia Hernandez,Phoenix,60000,Sales",
  "13,Alexander Lopez,Philadelphia,56001,Marketing",
  "14,Mia Gonzalez,Detroit,62000,Finance",
  "15,Ethan Perez,Minneapolis,55000,HR",
  "16,Isabella Carter,Portland,63000,Engineering",
  "17,Mason Torres,Baltimore,52000,Operations",
  "18,Ava Ramirez,San Diego,64000,Sales",
  "19,Logan Sanders,Washington,57000,Marketing",
  "20,Harper King,Birmingham,61000,Finance",
  "21,Lucas Rivera,Memphis,59000,HR",
  "22,Evelyn Scott,Nashville,60000,Engineering",
  "23,Avery Green,Milwaukee,56000,Operations",
  "24,Lincoln Taylor,Indianapolis,62000,Sales",
  "25,Sofia Cooper,Louisville,54000,Marketing",
  "26,Aiden Bennett,Jacksonville,63000,Finance",
  "27,Madison Flores,Charlotte,58000,HR",
  "28,Ella Collins,San Jose,65000,Engineering",
  "29,Chloe Howard,San Antonio,53000,Operations",
  "30,Carter Hughes,Oklahoma City,61000,Sales",
  "31,Aria Nelson,Tucson,57000,Marketing",
  "32,Grayson Baker,Cleveland,60000,Finance",
  "33,Zoey Morris,Mesa,55000,HR",
  "34,Nova Ward,Kansas City,64000,Engineering",
  "35,Hudson James,Virginia Beach,52000,Operations",
  "36,Leah Watson,Atlanta,62000,Sales",
  "37,Riley Brooks,Colorado Springs,54000,Marketing",
...

In [17]:
// Creating a case class to represent the entity
case class Employee(empId: Int, name: String, city: String, salary: Int, department: String)

object Employee {
  def apply(emp: String): Employee = {
    val empRecord: Array[String] = emp.split(",")
    Employee(empId = empRecord(0).toInt, name = empRecord(1), city = empRecord(2), salary = empRecord(3).toInt, department = empRecord(4))
  }
}

val emp: Employee = Employee(1, "Shyam", "Indore", 37000, "Engineering")
val emp1: Employee = Employee("37,Riley Brooks,Colorado Springs,54000,Marketing")

defined class Employee
defined object Employee
emp: Employee = Employee(
  empId = 1,
  name = "Shyam",
  city = "Indore",
  salary = 37000,
  department = "Engineering"
)
emp1: Employee = Employee(
  empId = 37,
  name = "Riley Brooks",
  city = "Colorado Springs",
  salary = 54000,
  department = "Marketing"
)

In [18]:
// add all the records in to List

val listOFEmployees: List[Employee] = employeeList.tail.map(emp => Employee(emp))

listOFEmployees: List[Employee] = List(
  Employee(
    empId = 1,
    name = "John Doe",
    city = "New York",
    salary = 60000,
    department = "Marketing"
  ),
  Employee(
    empId = 2,
    name = "Jane Smith",
    city = "Los Angeles",
    salary = 55000,
    department = "Finance"
  ),
  Employee(
    empId = 3,
    name = "Michael Johnson",
    city = "Chicago",
    salary = 62000,
    department = "HR"
  ),
  Employee(
    empId = 4,
    name = "Sarah Lee",
    city = "San Francisco",
    salary = 58000,
    department = "Engineering"
  ),
  Employee(
    empId = 5,
    name = "David Brown",
    city = "Houston",
    salary = 63000,
    department = "Operations"
  ),
  Employee(
    empId = 6,
    name = "Emily Taylor",
...

In [19]:
// Perform filter operations based on salary and departments
val employees: List[Employee] = listOFEmployees

// filtering employee with salary greater than 60000
val empWithSalaryGtr60000: List[Employee] = employees.filter(_.salary > 60000)
val empWithSalaryBw50000And60000: List[Employee] = employees.filter(emp => emp.salary > 50000 && emp.salary < 60000)

employees: List[Employee] = List(
  Employee(
    empId = 1,
    name = "John Doe",
    city = "New York",
    salary = 60000,
    department = "Marketing"
  ),
  Employee(
    empId = 2,
    name = "Jane Smith",
    city = "Los Angeles",
    salary = 55000,
    department = "Finance"
  ),
  Employee(
    empId = 3,
    name = "Michael Johnson",
    city = "Chicago",
    salary = 62000,
    department = "HR"
  ),
  Employee(
    empId = 4,
    name = "Sarah Lee",
    city = "San Francisco",
    salary = 58000,
    department = "Engineering"
  ),
  Employee(
    empId = 5,
    name = "David Brown",
    city = "Houston",
    salary = 63000,
    department = "Operations"
  ),
  Employee(
    empId = 6,
    name = "Emily Taylor",
...
empWithSalaryGtr60000: List[Employee] = List(
  Employee(
    empId = 3,
    name = "Michael Johnson",
    city = "Chicago",
    salary = 62000,
    department = "HR"
  ),
  Employee(
    empId = 5,
    name = "David Brown",
    city = "Houston",
    salary = 63000,
    department = "Operations"
  ),
  Employee(
    empId = 8,
    name = "Emma Anderson",
    city = "Seattle",
    salary = 61000,
    department = "Finance"
  ),
  Employee(
    empId = 10,
    name = "Olivia Thomas",
    city = "Atlanta",
    salary = 64000,
    department = "Engineering"
  ),
  Employee(
    empId = 14,
    name = "Mia Gonzalez",
    city = "Detroit",
    salary = 62000,
    department = "Finance"
  ),
  Employee(
    empId = 16,
    name = "Isabella Carter",
...
empWithSalaryBw50000And60000: List[Employee] = List(
  Employee(
    empId = 2,
    name = "Jane Smith",
    city = "Los Angeles",
    salary = 55000,
    department = "Finance"
  ),
  Employee(
    empId = 4,
    name = "Sarah Lee",
    city = "San Francisco",
    salary = 58000,
    department = "Engineering"
  ),
  Employee(
    empId = 6,
    name = "Emily Taylor",
    city = "Miami",
    salary = 54000,
    department = "Sales"
  ),
  Employee(
    empId = 7,
    name = "James Wilson",
    city = "Dallas",
    salary = 59000,
    department = "Marketing"
  ),
  Employee(
    empId = 9,
    name = "Matthew Martinez",
    city = "Boston",
    salary = 57000,
    department = "HR"
  ),
  Employee(
    empId = 11,
    name = "Liam Garcia",
...

In [20]:
def departmentFilter(department: String): List[Employee] = employees.filter(_.department == department)
def departmentFilter(departments: Set[String]): List[Employee] = employees.filter(emp => departments.contains(emp.department))

val empWithDepartmentFinance: List[Employee] = departmentFilter("Finance")
val empWithDepartmentFinanceAndMarketing: List[Employee] = departmentFilter(Set("Marketing", "Finance"))

defined function departmentFilter
defined function departmentFilter
empWithDepartmentFinance: List[Employee] = List(
  Employee(
    empId = 2,
    name = "Jane Smith",
    city = "Los Angeles",
    salary = 55000,
    department = "Finance"
  ),
  Employee(
    empId = 8,
    name = "Emma Anderson",
    city = "Seattle",
    salary = 61000,
    department = "Finance"
  ),
  Employee(
    empId = 14,
    name = "Mia Gonzalez",
    city = "Detroit",
    salary = 62000,
    department = "Finance"
  ),
  Employee(
    empId = 20,
    name = "Harper King",
    city = "Birmingham",
    salary = 61000,
    department = "Finance"
  ),
  Employee(
    empId = 26,
    name = "Aiden Bennett",
    city = "Jacksonville",
    salary = 63000,
    department = "Finance"
  ),
  Employee(
    empId = 32,
    name = "Grayson Baker",
...
empWithDepartmentFinanceAndMarketing: List[Employee] = List(
  Employee(
    empId = 1,
    name = "John Doe",
    city = "New York",
    salary = 60000,
    department = "Marketing"
  ),
  Employee(
    empId = 2,
    name = "Jane Smith",
    city = "Los Angeles",
    salary = 55000,
    department = "Finance"
  ),
  Employee(
    empId = 7,
    name = "James Wilson",
    city = "Dallas",
    salary = 59000,
    department = "Marketing"
  ),
  Employee(
    empId = 8,
    name = "Emma Anderson",
    city = "Seattle",
    salary = 61000,
    department = "Finance"
  ),
  Employee(
    empId = 13,
    name = "Alexander Lopez",
    city = "Philadelphia",
    salary = 56001,
    department = "Marketing"
  ),
  Employee(
    empId = 14,
    name = "Mia Gonzalez",
...

In [21]:
// perform map operations to produce formatted report
def formatedOutput(emp: Employee): String = s"Emp Id: ${emp.empId}, Name: ${emp.name},City: ${emp.city},  Salary: ${emp.salary}, Department: ${emp.department}"
val formatedOutputList: List[String] = employees.map(formatedOutput)

defined function formatedOutput
formatedOutputList: List[String] = List(
  "Emp Id: 1, Name: John Doe,City: New York,  Salary: 60000, Department: Marketing",
  "Emp Id: 2, Name: Jane Smith,City: Los Angeles,  Salary: 55000, Department: Finance",
  "Emp Id: 3, Name: Michael Johnson,City: Chicago,  Salary: 62000, Department: HR",
  "Emp Id: 4, Name: Sarah Lee,City: San Francisco,  Salary: 58000, Department: Engineering",
  "Emp Id: 5, Name: David Brown,City: Houston,  Salary: 63000, Department: Operations",
  "Emp Id: 6, Name: Emily Taylor,City: Miami,  Salary: 54000, Department: Sales",
  "Emp Id: 7, Name: James Wilson,City: Dallas,  Salary: 59000, Department: Marketing",
  "Emp Id: 8, Name: Emma Anderson,City: Seattle,  Salary: 61000, Department: Finance",
  "Emp Id: 9, Name: Matthew Martinez,City: Boston,  Salary: 57000, Department: HR",
  "Emp Id: 10, Name: Olivia Thomas,City: Atlanta,  Salary: 64000, Department: Engineering",
  "Emp Id: 11, Name: Liam Garcia,City: Denver,  Salary: 53000, Department: Operations",
  "Emp Id: 12, Name: Sophia Hernandez,City: Phoenix,  Salary: 60000, Department: Sales",
  "Emp Id: 13, Name: Alexander Lopez,City: Philadelphia,  Salary: 56001, Department: Marketing",
  "Emp Id: 14, Name: Mia Gonzalez,City: Detroit,  Salary: 62000, Department: Finance",
  "Emp Id: 15, Name: Ethan Perez,City: Minneapolis,  Salary: 55000, Department: HR",
  "Emp Id: 16, Name: Isabella Carter,City: Portland,  Salary: 63000, Department: Engineering",
  "Emp Id: 17, Name: Mason Torres,City: Baltimore,  Salary: 52000, Department: Operations",
  "Emp Id: 18, Name: Ava Ramirez,City: San Diego,  Salary: 64000, Department: Sales",
  "Emp Id: 19, Name: Logan Sanders,City: Washington,  Salary: 57000, Department: Marketing",
...

In [22]:
// perform reduce operation to find total Salary, average Salary, number of employees department wise

val totalSalary: Int = employees.map(_.salary).reduce(_ + _)
val averageSalary: Double = totalSalary / employees.size
val departmentSize: Map[String, Int] = employees.groupBy(emp => emp.department).map{case (key, value) => (key, value.size)}

totalSalary: Int = 2943001
averageSalary: Double = 58860.0
departmentSize: Map[String, Int] = HashMap(
  "Engineering" -> 8,
  "Operations" -> 8,
  "Sales" -> 8,
  "Marketing" -> 9,
  "HR" -> 8,
  "Finance" -> 9
)